absl-py
accelerate
anyio==3.7.1
bert-score
bitsandbytes
datasets
evaluate
huggingface_hub
numpy==1.23.5
openai
pandas==2.0
peft
pydantic==1.9
rouge-score
scikit-learn
scipy==1.11
tiktoken
torch
tqdm
transformers
trl
wandb
gguf
sentencepiece
# pip install llama-cpp-python --force-reinstall --upgrade --user --extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cu124
